// import partials
@import 'variables';
@import 'mixins';

body {
  margin: 0;
  font-family: $main-font;
  background-color: $main-grey;
  color: $main-black;
}

.navbar {
  height: 80px;
  background-color: $main-black;
  width: 100%;
}

.navbar-icon {
  height: 100%;
  display: inline-block;
}

.icon {
  height: 90%;
  margin: 5% 0 0 5%;
}

.navbar-menu {
  position: absolute;
  height: 100%;
  width: 10vw;
  display: inline-block;
  right: 5%;
}

.menu-button {
  background-color: $main-white;
  height: 35px;
  margin: auto;
  top: 50%;
  cursor: pointer;
  text-decoration: underline;
}

.login__container {
  width: 80vw;
  margin: auto;

  label {
    text-align: left;
    font-weight: 500;
  }
}

.login__form {
  width: 100%;
}

.login__input {
  max-width: 400px;
  width: 80%;
  outline: none;
  height: 30px;
  background-color: #eee;
  box-shadow: none;
  border: 0;
  font-size: 14px;
  font-family: $main-font;
  margin: 5px 0 15px 0;
}

.login__input:focus {
  background-color: #fff;
}

.login__button {
  display: block;
  color: #FF00FF;
  background-color: #fff;
  border: 3px #FF00FF solid;
  height: 40px;
  width: 50%;
  max-width: 300px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

.login__button:hover {
  background-color: #FF00FF;
  border-color: #fff;
  color: #fff;
}

.wordpress-link {
  color: #555;
  text-align: center;
}

.wordpress-link:hover {
  color: #333;
  font-weight: 450;
}
