// import partials
@import 'normalize';
@import 'variables';
@import 'mixins';

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $font-stack;
  background-color: #777;
  box-sizing: border-box;
  background-color: $main-grey;
  color: $main-black;
  position: relative;
  min-height: 100%;
  padding-bottom: 6rem;
}

.navbar {
  height: 80px;
  background-color: $main-black;
  width: 100%;
}

.navbar-icon {
  height: 100%;
  display: inline-block;
}

.icon {
  height: 90%;
  margin: 5% 0 0 5%;
}

.navbar-menu {
  position: absolute;
  height: 100%;
  width: 10vw;
  display: inline-block;
  right: 5%;
}

.menu-button {
  background-color: $main-white;
  height: 35px;
  margin: auto;
  top: 50%;
  cursor: pointer;
  text-decoration: underline;
}

.login__container {
  width: 80vw;
  margin: auto;

  label {
    text-align: left;
    font-weight: 500;
  }
}

.login__form {
  width: 100%;
}

.login__input {
  max-width: 400px;
  width: 90%;
  outline: none;
  height: 40px;
  background-color: #eee;
  box-shadow: none;
  border: 0;
  font-size: 14px;
  font-family: $main-font;
  margin: 5px 0 15px 0;
  padding: 0 4px 0 4px;
}

.login__input:focus {
  background-color: #fff;
}

.login__button {
  display: block;
  color: #FF00FF;
  background-color: #fff;
  border: 3px #FF00FF solid;
  height: 40px;
  width: 200px;
  text-align: center;
  line-height: 31px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0 10px 0;
}

.login__button:hover {
  background-color: #FF00FF;
  border-color: #fff;
  color: #fff;
}

.wordpress-link {
  color: #555;
  text-align: center;
  cursor: pointer;
}

.wordpress-link:hover {
  color: #333;
  font-weight: 450;
}

.card__container {
  margin: 10px;
  border-radius: 5px;
  background-color: #333;
  box-shadow: 2px 2px 5px black;
  padding: 15px;
}

.card__header {
  margin: 0 0 20px 0;
  color: $font-color;
  text-decoration: underline;
}

.progress-bar__meter {
  width: 100%;
  height: 2rem;
}

.progress-bar__meter::-webkit-meter-bar {
  background: white;
}

.progress-bar__meter::-webkit-meter-optimum-value {
  background: magenta;
}

.progress-bar__description {
  font-family: $font-stack;
  font-size: 1em;
  color: $font-color;
  text-align: center;
}

.recent-transactions__link {
  font-family: $font-stack;
  font-size: 1em;
  color: $font-color;
  text-decoration: underline;
}

.card-user__container {
  display: inline-block;
  width: 100%;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #CCC;
  box-shadow: 2px 2px 5px black;
  padding: 0px 10px;
  font-weight: bold;
}

.card-user__name {
  text-decoration: underline;
  display: inline-block;
}

.card-user__outstanding {
  display: inline-block;
  float: right;
}

.card-user__last-payment {
  font-weight: normal;
  margin-top: 0px;
}

.card-round__container {
  display: inline-block;
  width: 95%;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
  background-color: #CCC;
  box-shadow: 2px 2px 5px black;
  padding: 0px 10px;
  font-weight: bold;
}

.card-round__name {
  text-decoration: underline;
  display: inline-block;
}

.card-round__customers {
  display: inline-block;
  float: right;
}

.card-round__owed {
  font-weight: normal;
  margin-top: 0px;
}


.overdue-payments__link {
  font-family: $font-stack;
  font-size: 1em;
  color: $font-color;
  text-decoration: underline;
}

.footer {
  padding-bottom: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__text {
  font-family: $font-stack;
  font-size: 0.75em;
  color: #333;
  text-align: center;
}

.navbar-list__item {
  display: 'none';
}

.navbar-list__item {
  a {
    color: $main-black;
    text-decoration: none;
  }
}

.navbar-list {
  margin-top: 0;
  background-color: $main-white;
  list-style: none;
  padding-left: 0;
}
