body {
  margin: 0;
}

.navbar {
  height: 80px;
  background-color: #333;
  width: 100%;
}

.navbar-icon {
  height: 100%;
  display: inline-block;
}

.icon {
  height: 90%;
  margin: 5% 0 0 5%;
}

.navbar-menu {
  position: absolute;
  height: 100%;
  width: 10vw;
  display: inline-block;
  right: 5%;
}

.menu-button {
  background-color: #ddd;
  height: 35px;
  margin: auto;
  top: 50%;
  cursor: pointer;
  text-decoration: underline;
}
